<div id="<%= dom_id(comment) %>" class="bg-white border p-3 mb-2">
  <div class="mb-2">
    <div class="flex justify-between items-start">
      <div>
        <h4 class="font-bold text-sm"><%= comment.name %></h4>
        <p class="text-xs">
          <%= comment.created_at.strftime("%B %d, %Y at %I:%M %p") %>
        </p>
      </div>
      <%= button_to [comment.post, comment], method: :delete, 
                    class: "text-red-600 hover:text-red-800 text-xs font-medium",
                    data: { 
                      controller: "delete",
                      delete_message_value: "Are you sure you want to delete this comment?",
                      action: "click->delete#confirm"
                    },
                    remote: true do %>
        Delete
      <% end %>
    </div>
  </div>
  
  <div>
    <p class="text-sm"><%= comment.body %></p>
  </div>
</div>
